/*
for web,
delete all classes except Body{} and *{}, they can be modified.
 */
* {
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #fff;
  font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
  font-size: 14px;
  height: 100vh;
  margin: 0;
  padding: 0;

  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  padding: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0) env(safe-area-inset-bottom, 0) env(safe-area-inset-right, 0);
  width: 100%;
}

.welcome_con {
  width: 100%;
  height: 100%;
  background: none;
  color: #666;
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.welcome_image {
  width: 10vw;
  height: 10vw;
}

.welcome_header {
  font-size: 1vw;
  text-transform: uppercase;
}

.welcome_sub {
  font-size: 1.2vw;
  color: #777;
}

.welcome_sub_detail {
  font-size: 0.8vw;
  color: #999;
}

/* pages starts here */
.root {
  width: 100vw;
  height: 100vh;
  background: #ddd;
  position: fixed;
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  height: 7vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background: #73d14b;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-left: 2.1vw;
}

.container_header {
  width: 6vw;
  height: 100vh;
  background: #fff;
  position: fixed;
  padding-top: 1vh;
  padding-bottom: 1vh;
  border-top: solid 0.1vh #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  bottom: 0;
}

.menu_box {
  width: 6vw;
  height: 6vh;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: none;
  transition: border 0.1s;
  padding: 1vh 0;
}

.menu_box_icon {
  width: 4vw;
  height: 3vh;
}

.menu_box_text {
  font-size: 1vw;
  margin-top: 1vh;
  color: #999;
}

.container {
  width: 96vw;
  height: 93vh;
  background: #f3f3f3;
  position: fixed;
  right: 0;
  overflow-y: scroll;
}

.btn {
  width: 10vw;
  min-height: 5vh;
  padding: 1vw;
  background: #4b72d1;
  text-align: center;
  outline: none;
  border: none;
  font-size: 0.8vw;
  color: #fff;
  border-radius: 10vw;
  margin-top: 4vw;
}

.btn:active {
  opacity: 0.8;
}

.btn_larger {
  width: 15vw;
  min-height: 6vh;
  padding: 1.5vw;
  background: #4b72d1;
  text-align: center;
  outline: none;
  border: none;
  font-size: 0.8vw;
  color: #fff;
  border-radius: 10vw;
  transition: opacity 0.1s;
  margin: 1vw;
}

.btn_larger:active {
  opacity: 0.8;
}

.logo {
  width: 5vw;
  height: 5vw;
  border-radius: 1.2vw;
}

.item_image {
  width: 3.5vw;
  height: 3.5vw;
}

.content_list {
  width: 90vw;
  height: auto;
  background: none;
  padding: 2vw;
  font-size: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.content_list_column {
  width: 96vw;
  height: auto;
  background: none;

  /* padding: 2vw; */
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.content_box {
  width: 14vw;
  min-height: 14vw;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: solid 0.5vw #eee;
  margin: 1vw;
  border-radius: 1vh;
  padding: 1vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.content_box_large {
  width: 43vw;
  min-height: 50vh;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: solid 0.5vw #eee;
  margin: 1vw;
  border-radius: 1vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.title_bright {
  font-size: 1vw;
  color: #aaa;
  text-transform: uppercase;
  padding: 2vw;
  margin-left: 1vw;
}

.title_small {
  font-size: 1vw;
  color: #666;
  text-transform: uppercase;
  padding: 0.5vw;
}

.sub_title {
  font-size: 1vw;
  color: #aaa;
  text-transform: lowercase;
  padding: 0.5vw;
  margin: 0;
}

.full_page {
  width: 100vw;
  height: 100vh;
  background: #f3f3f3;
  position: fixed;
  z-index: 100;
  transition: margin 0.5s;
}
.alert_page {
  width: 100vw;
  min-height: 20vh;
  background: none;
  position: fixed;
  z-index: 100;
  transition: margin 1s;
  bottom: -100vh;
}
#alert_page {
  z-index: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: none;
  margin-left: 0vw;
}
#select_trader {
  z-index: 101;
  margin-left: 100vw;
}

#place_order {
  z-index: 102;
  margin-left: 100vw;
}

#index_page {
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
}

#register_page {
  z-index: 202;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  margin-left: 100vw;
}

#sign_page {
  z-index: 201;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  margin-left: 100vw;
}

#loading_page {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  margin-left: 100vw;
}

.full_page_header {
  width: 99vw;
  height: 6vh;
  padding: 1vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: solid 0.5vw #eee;
}

.full_page_container {
  width: 100vw;
  height: 92vh;
  background: none;
  overflow-y: scroll;
}

.full_list {
  width: 96vw;
  height: auto;
  background: none;
  padding: 2vw;
  font-size: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.order_list {
  width: 96vw;
  height: auto;
  background: none;
  padding: 2vw;
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.content_box_sellers {
  width: 14vw;
  height: 14vw;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: solid 0.5vw #eee;
  margin: 1vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

.icon_btn {
  width: 2vw;
  height: 2vw;
}

.pro_pic {
  width: 1vw;
  height: 1vw;
  background: #72d14b;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 10vw;
  font-size: 1vw;
  padding: 1vw;
}

.large_image {
  width: 4vw;
  height: 4vw;
}

.complement_three {
  color: #d14b72;
  font-size: 1vw;
  text-transform: lowercase;
  padding: 0.5vw;
  margin: 0;
}

.input_ {
  width: 25vw;
  height: 1vh;
  padding: 1.5vw;
  margin: 2vh;
  text-align: center;
  font-size: 3vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  border-radius: 0.5vw;
  border-bottom: solid #eee 0.02vw;
}

.input_ img {
  width: 2vw;
  height: 2vw;
  margin-top: -0.5vw;
}

.input_ input,
.input_ select {
  outline: none;
  border: none;
  font-size: 1vw;
  text-align: center;
  width: 20vw;
}

.fancy_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.store_head {
  width: 100%;
  height: 40vh;
  background: #72d14b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
